
#formButton {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 140px;
  height: 30px;
}

#deleteButton {
  position: absolute;
  top: 20px;
  right: 185px;
  width: 210px;
  height: 30px;
}

#submitButton {
  width: 200px;
  align-self: center;
}






  